/* BODY */
body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #d97706, #f59e0b);
  color: white;
  text-align: center;
}

/* NAVBAR */
.navbar {
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: 0;
}

.logo {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}

/* LAYOUT */
.overlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 15px;
  max-width: 700px;
}

img {
  width: 100%;
  border-radius: 15px;
}

/* BUTTON */
button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
}

/* DARK MODE */
body.dark-mode {
  background: #0f172a;
}

body.dark-mode .container {
  background: rgba(255,255,255,0.1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #1f1f1f;
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
